{% extends "base.html" %}
{% block title %}<title>OMS｜密码成功</title>{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-3">
                <div class="alert alert-success text-center" role="alert">
                    <strong>您的密码修改成功！&#12288;&#12288;</strong>
                    <a class="btn btn-success btn-lg" href="{% url 'app:index' %}">返回首页</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
